if SHIELD_CORNE_HW_LEFT

config ZMK_KEYBOARD_NAME
	default "Sputnik-SplitKB"

config ZMK_SPLIT
	default y

# Left half is the central (talks to the host and to the right peripheral).
config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif
