if SHIELD_CORNE_HW_RIGHT

config ZMK_KEYBOARD_NAME
	default "Sputnik-SplitKB"

config ZMK_SPLIT
	default y

# No ZMK_SPLIT_ROLE_CENTRAL here: the right half defaults to the peripheral
# role. (There is no ZMK_SPLIT_ROLE_PERIPHERAL symbol; peripheral == not
# central.)

endif
